
### Transformacion de dataframes

## Inspeccionar un Dataframe

In [1]:
# Importa pandas 
import pandas as pd

In [2]:
homelessness = pd.read_csv('./Datasets/homelessness.csv', index_col=0 )

# Imprimir los primeros datos con head

In [3]:
# Imprimir informacion acerca de homelessness
print(homelessness.info())

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
None

In [4]:
# Imprimir el tamano de homelenessess
print(homelessness.shape)

(51, 5)

In [5]:
# print la descripcion de homelenessess
print(homelessness.describe())

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

## Partes de un dataframe

In [7]:
# print la descripcion de homelenessess
print(homelessness.values)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]

In [8]:
# Imprimir los indices de las columnas de homelenessess
print(homelessness.columns)

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

In [9]:
# Imprimir los indices de las filas de homelenessess
print(homelessness.index)

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
      dtype='int64')

## Ordenar filas 

| Ordenar en ...| Sintaxis
|---------------|------------------------------|
| una columna   | `df.sort_values("bread")`    |
| varias columnas   | `df.sort_values(["bread", "weight_kg"])` |

1. Ordenar homelessness por el numero de personas sin hogar de la columna individuals, de menor a mayor y guardarlo como homelessness_ind
2. Ordena homelenessess por el numero de personas sin hogar family_memebers en orden descendente y guardarlo como homelessness_fam
3. Ordena homelessness primero por region (ascendente) y luego por numero de miembros de la familia (descendente), guardar como homelessness_reg_fam

In [11]:
homelessness_ind = homelessness.sort_values ('individuals')
print(homelessness_ind.head(10))

                region          state  individuals  family_members  state_pop
50            Mountain        Wyoming        434.0           205.0     577601
34  West North Central   North Dakota        467.0            75.0     758080
7       South Atlantic       Delaware        708.0           374.0     965479
39         New England   Rhode Island        747.0           354.0    1058287
45         New England        Vermont        780.0           511.0     624358
29         New England  New Hampshire        835.0           615.0    1353465
41  West North Central   South Dakota        836.0           323.0     878698
26            Mountain        Montana        983.0           422.0    1060665
48      South Atlantic  West Virginia       1021.0           222.0    1804291
24  East South Central    Mississippi       1024.0           328.0    2981020

In [12]:
# Ordenar homelessness por family_members de forma descendente
homelessness_reg_fam = homelessness.sort_values(['region', 'family_members'], ascending= [True, False])
print(homelessness_reg_fam.head(20))

                region         state  individuals  family_members  state_pop
13  East North Central      Illinois       6752.0          3891.0   12723071
35  East North Central          Ohio       6929.0          3320.0   11676341
22  East North Central      Michigan       5209.0          3142.0    9984072
49  East North Central     Wisconsin       2740.0          2167.0    5807406
14  East North Central       Indiana       3776.0          1482.0    6695497
42  East South Central     Tennessee       6139.0          1744.0    6771631
17  East South Central      Kentucky       2735.0           953.0    4461153
0   East South Central       Alabama       2570.0           864.0    4887681
24  East South Central   Mississippi       1024.0           328.0    2981020
32        Mid-Atlantic      New York      39827.0         52070.0   19530351
38        Mid-Atlantic  Pennsylvania       8163.0          5349.0   12800922
30        Mid-Atlantic    New Jersey       6048.0          3350.0    8886025
5             Mountain      Colorado       7607.0          3250.0    5691287
2             Mountain       Arizona       7259.0          2606.0    7158024
44            Mountain          Utah       1904.0           972.0    3153550
12            Mountain         Idaho       1297.0           715.0    1750536
31            Mountain    New Mexico       1949.0           602.0    2092741
28            Mountain        Nevada       7058.0           486.0    3027341
26            Mountain       Montana        983.0           422.0    1060665
50            Mountain       Wyoming        434.0           205.0     577601

 ## Subconjuntos de columnas 

 Hay muchas formas de subconjuntar un Dataframe, quiza la mas comun sea utilizar operadores relacionales para devolver true o false por cada fila y luego pasarlo entre corchetes. 
 `dogs[dogs['height_cm'] > 60]`
 `dogs[dogs['color'] > "tan"]`

 Puedes filtrar por varias condiciones  a la vez utilizando el operador &

 `dogs[(dogs['height_cm'] > 60) & (dogs['color'] == 'tan')]`

**Instrucciones**
1. Filtra homelessness para los casos en los que el numero del individuals sea superior a diez mil, asignandolos a `ind_gt_10k`. Visualizar el resultado 
2. Filtra homelessness para los casos en los que la region es Mountain, asignando a montauntain_reg. Visualiza el resultado 
3. Filtra homelessness para los casos en los que el numero de family_members sea inferior a mil y la region sea 'Pacifico', asignandolo a fam_lt_1k_pac. Visualizar el resultado

In [15]:
ind_gt_10k = homelessness[homelessness['individuals'] > 10000]
print(ind_gt_10k.head(10))

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [18]:
mountain_reg = homelessness[homelessness['region'] == 'Mountain']
mountain_reg.sort_values('region', ascending=True)
print(mountain_reg.head())

      region     state  individuals  family_members  state_pop
2   Mountain   Arizona       7259.0          2606.0    7158024
5   Mountain  Colorado       7607.0          3250.0    5691287
12  Mountain     Idaho       1297.0           715.0    1750536
26  Mountain   Montana        983.0           422.0    1060665
28  Mountain    Nevada       7058.0           486.0    3027341

In [ ]:
fam_lt_1k_pac = homelessness[(homelessness['family_members']< 10000) & (homelessness['region'] == )]
print(fam_lt_1k_pac)

# Subconju8nto de filas por variantes categoricas 

Utiliza el metodo `.isin()` que permitira abordar el problema escribiendo en una sola condicion en lugar de varios. Por que para segmentar variables categoricas se utiliza el operador 

`colors =['blue', 'black', 'orange']`
`condition  = dogs['color'].isin(colors)`
`dogs['condition']`

**Instrucciones**

1. Filtra homelessness para los casos en los que el censo para los esatdos de california, Arizona, Nevada y utha, asignando a mojave_homelessness

In [19]:
canu = ['california', 'Arizona', 'Nevada', 'Utah']

mojave_homelessness = homelessness[homelessness['state'].isin(canu)]
print (mojave_homelessness)

      region    state  individuals  family_members  state_pop
2   Mountain  Arizona       7259.0          2606.0    7158024
28  Mountain   Nevada       7058.0           486.0    3027341
44  Mountain     Utah       1904.0           972.0    3153550